job role automation/job automation.json
{
  "name": "job automation",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -144,
        32
      ],
      "id": "e6f7509e-7545-480c-8ae7-3da1539874eb",
      "name": "When chat message received",
      "webhookId": "54893316-0eb9-4792-81c4-93f83382a2ed"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a expert email writer . u need to write an email for the given job rule with a proper structure => u first need to ask for the job role and if they provide some extra information with it just include this and write a formal letter addressing the hr of that role"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "a60e7230-98fc-4a18-821e-d71eb459294c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "deepseek-v3.1:671b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        80,
        256
      ],
      "id": "9aff384f-d231-4084-a584-581d47dfe0ad",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "uU6jWdfFer9fPiLl",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        272,
        256
      ],
      "id": "b2b0c900-d84d-4fea-8caa-606b6a312d5e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "diptisingh11103@gmail.com",
        "subject": "=email addresing for current job role\n",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        496,
        -16
      ],
      "id": "32683376-6030-4402-9398-85e3773148a3",
      "name": "Send a message",
      "webhookId": "ba161f95-27cf-49cc-908d-a4e16da5ad21",
      "credentials": {
        "gmailOAuth2": {
          "id": "OnQXrkfdOthwiyso",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "53b81287-0e9d-4928-85fa-358dc86b2ccb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "690fcbe3bca7b4a8f6b4c24acbc7e7dcb5be0fe4ab5a11b2401eaf2d2eea633c"
  },
  "id": "sbqHzQShNFyfdHKW",
  "tags": []
}