job role automation/job automation.json
{
  "name": "job automation",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Jarvis. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -144,
        32
      ],
      "id": "e6f7509e-7545-480c-8ae7-3da1539874eb",
      "name": "When chat message received",
      "webhookId": "54893316-0eb9-4792-81c4-93f83382a2ed"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a expert email writer . u need to write an email for the given job rule with a proper structure for the job role and if they provide some extra information with it just include this and write a formal letter addressing the hr of that role\nIf the user asks you to write a letter or draft an email, output the generated text directly into the chat. You must ask for the user's confirmation before using any tools to send the message.\ndont send email until explicitily asked\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "a60e7230-98fc-4a18-821e-d71eb459294c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        64,
        208
      ],
      "id": "5cea0dee-51b0-43aa-9d5b-bbd4dfddbb63",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "xFk7mCaUWzezbttx",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "diptisingh11103@gmail.com",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        432,
        192
      ],
      "id": "448d440c-336f-4ed4-a94b-64bbff98f9cd",
      "name": "Send a message in Gmail",
      "webhookId": "f5dce06d-810a-4a2d-8d03-1294cb6958fb",
      "credentials": {
        "gmailOAuth2": {
          "id": "OnQXrkfdOthwiyso",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "7c109062-11bb-4658-bc7b-c6f0376fc86a",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d82b368c-c321-419b-9c48-6966cb8ab5b7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "690fcbe3bca7b4a8f6b4c24acbc7e7dcb5be0fe4ab5a11b2401eaf2d2eea633c"
  },
  "id": "sbqHzQShNFyfdHKW",
  "tags": []
}